.wcl-acf-block-8 {
    margin-top: 40px;
    margin-bottom: 75px;

    .data {
        &-text {
            color: #111;
            font-size: 16px;
            line-height: 155%;
            margin: 0 auto;
        }
    }

    @media (max-width: 767px) {
        margin-bottom: 75px;
    }
}