/* 
==============================================
    CONTENT OF THE FILE
==============================================

    1. Buttons
    2. Form Elements
    3. Wcl Btn
    ...

*/



/* 
* 3. wcl-btn
*/

.wcl-btn {
    padding: 2px 19px;
    height: 48px;
    min-width: 145px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    border: 1px solid #0D1722;
    background: #0D1722;
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
    text-decoration: none;

    color: #F4F4F4;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    /* 150% */
    @include link_hover;

    @media (prefers-color-scheme: dark) {
        background: #F4F4F4;
        border-color: #F4F4F4;
        color: #0E1A26;
    }
}


/* 
* 1. Buttons
*/
.wcl-button-wrapper {

    .wcl-button {
        display: inline-block;
        cursor: pointer;
        outline: 0;
        -webkit-transition: all .25s ease-in-out;
        -o-transition: all .25s ease-in-out;
        transition: all .25s ease-in-out;
    }

}





/* 
* 2. Form Elements
*/
.wcl-form-wrapper {

    input {}

    textarea {}

}