/*
Colors black & white
@example scss - Usage

   .my-class {
        background: black(0.15);
        color: white(0.9);
   }

*/
/*
Mixin for styling form-placeholders
@example scss - Usage

   .my-class {
        background: black(0.15);
        color: white(0.9);
   }

*/
/* 
* 2. Variables
*/
/* 
* 1. Fonts
*/
.wcl-acf-block-8 {
  margin-top: 125px;
  margin-bottom: 145px;
  position: relative;
}
.wcl-acf-block-8 .data-lines.mod-the_company {
  position: absolute;
  top: 77.4%;
  left: -37px;
  margin-top: 0;
}
.wcl-acf-block-8 .data-lines.mod-home {
  top: -296px;
  left: 138px;
  position: absolute;
}
.wcl-acf-block-8 .data-lines-2.mod-home {
  position: absolute;
  top: 317px;
  left: 281px;
  width: 560px;
  height: 500px;
  z-index: -1;
}
.wcl-acf-block-8 .data-lines-2.mod-home .line-container:nth-child(1) {
  left: 0;
  top: 0;
}
.wcl-acf-block-8 .data-lines-2.mod-home .line-container:nth-child(2) {
  left: 0;
  top: 0;
}
.wcl-acf-block-8 .data-lines-2.mod-home .line-container:nth-child(3) {
  right: 0;
  top: 0;
}
.wcl-acf-block-8 .data-lines-2.mod-home .line-container:nth-child(4) {
  right: 0;
  bottom: 0;
}
.wcl-acf-block-8 .data-lines-2.mod-home .line-container:nth-child(4) .line {
  right: 0;
}
.wcl-acf-block-8 .data-lines-3.mod-home {
  position: absolute;
  top: 100%;
  left: 60px;
  margin-top: -145px;
}
.wcl-acf-block-8 .data-container {
  position: relative;
}
.wcl-acf-block-8 .data-title {
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 25px;
}
.wcl-acf-block-8 .data-subtitle {
  max-width: 844px;
  margin: 0 auto;
  text-align: center;
}
.wcl-acf-block-8 .data-slider {
  overflow: visible;
  max-width: 1200px;
}
.wcl-acf-block-8 .data-slider-out {
  position: relative;
  max-width: 1121px;
  margin: 0 auto;
  margin-top: 70px;
}
.wcl-acf-block-8 .data-slider-inner {
  flex-wrap: wrap;
  width: auto;
  margin: 0 -37px;
  row-gap: 50px;
  width: auto;
}
.wcl-acf-block-8 .data-item {
  width: 324px;
  width: 33.33%;
  padding: 0 37px;
}
.wcl-acf-block-8 .data-item:nth-last-child(-n+3) .data-item-info {
  max-width: 300px;
}
.wcl-acf-block-8 .data-item-inner {
  position: relative;
  max-width: 324px;
  margin: 0 auto;
}
.wcl-acf-block-8 .data-item-img {
  background-color: rgba(0, 0, 0, 0.1);
  height: 486px;
  border: 1px solid #000;
  overflow: hidden;
  position: relative;
}
.wcl-acf-block-8 .data-item-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  max-width: unset;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  margin-top: -1px;
  margin-left: -1px;
}
.wcl-acf-block-8 .data-item-info {
  text-align: center;
  font-size: 18px;
  line-height: 155%;
  /* 27.9px */
  max-width: 170px;
  margin: 0 auto;
  margin-top: 26px;
}
.wcl-acf-block-8 .data-item-specialization {
  font-weight: 600;
}
.wcl-acf-block-8 .data-item-link {
  font-size: 16px;
  color: #F3BA00;
  font-weight: 600;
  text-transform: capitalize;
  cursor: pointer;
  margin-top: 5px;
}
@media (max-width: 1199px) {
  .wcl-acf-block-8 {
    margin-bottom: 125px;
  }
  .wcl-acf-block-8 .data-lines {
    display: none;
  }
  .wcl-acf-block-8 .data-lines-2 {
    display: none;
  }
  .wcl-acf-block-8 .data-lines-3 {
    display: none;
  }
  .wcl-acf-block-8 .data-row {
    flex-wrap: wrap;
    row-gap: 70px;
  }
  .wcl-acf-block-8 .data-col {
    width: 100% !important;
  }
  .wcl-acf-block-8 .data-info {
    min-height: auto;
    border-bottom: unset;
    padding: 0 20px;
    padding-top: 85px;
    border-right: none;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
  }
  .wcl-acf-block-8 .data-item-img {
    aspect-ratio: 324/486;
    width: 100%;
    height: auto;
  }
  .wcl-acf-block-8 .data-b1-el {
    top: -80px;
  }
}
@media (max-width: 1025px) {
  .wcl-acf-block-8 {
    margin-top: 100px;
  }
  .wcl-acf-block-8 .data-slider-out {
    margin-top: 50px;
  }
  .wcl-acf-block-8 .data-slider-inner {
    margin: 0 -16px;
    row-gap: 30px;
  }
  .wcl-acf-block-8 .data-item {
    padding: 0 16px;
  }
  .wcl-acf-block-8 .data-item-info {
    font-size: 16px;
    margin-top: 18px;
  }
  .wcl-acf-block-8 .data-item-link {
    font-size: 14px;
  }
}
@media (max-width: 767px) {
  .wcl-acf-block-8 {
    margin-top: 55px;
    margin-bottom: 55px;
    padding-top: 24px;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
  }
  .wcl-acf-block-8 .data-title {
    margin-bottom: 15px;
  }
  .wcl-acf-block-8 .data-subtitle {
    max-width: 410px;
    margin: 0 auto;
  }
  .wcl-acf-block-8 .data-info {
    padding-top: 75px;
  }
  .wcl-acf-block-8 .data-slider-out {
    margin-top: 35px;
  }
  .wcl-acf-block-8 .data-item-info {
    font-size: 16px;
    max-width: unset !important;
  }
}
@media (max-width: 575px) {
  .wcl-acf-block-8 .data-slider-inner {
    margin: 0;
    width: 100%;
    flex-wrap: nowrap;
  }
  .wcl-acf-block-8 .data-slider:not(.swiper-initialized) .data-item {
    margin-right: 25px;
  }
  .wcl-acf-block-8 .data-slider::after {
    content: "";
    position: absolute;
    right: -12px;
    top: 0;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #FFF 100%);
    width: 62px;
    height: 100%;
    transition: all 0.25s ease;
    z-index: 2;
    opacity: 1;
    pointer-events: none;
    -webkit-mask-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgb(0, 0, 0));
    mask-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgb(0, 0, 0));
  }
  .wcl-acf-block-8 .data-item {
    width: 188px;
    max-width: 80vw;
    min-width: 150px;
    padding: 0;
  }
  .wcl-acf-block-8 .data-item-info {
    margin-top: 13px;
  }
  .wcl-acf-block-8 .data-item-link {
    margin-top: 3px;
  }
}
