.wcl-section-9 {
    margin-top: 74px;
    margin-bottom: 100px;

    .data {
        &-container {
            max-width: 1084px;
        }

        &-row {
            display: flex;
            column-gap: 85px;
        }

        &-col {
            width: 50%;
            position: relative;
            left: -15px;

            &:nth-child(1) {
                max-width: 454px;
            }

            &:nth-child(2) {
                max-width: 445px;
            }
        }

        &-text {
            
            font-size: 18px;
            line-height: 26px;
            letter-spacing: 0;
            overflow-y: auto;
            max-height: 646px;
            min-height: 100%;
            -ms-overflow-style: none;
            scrollbar-width: none;

            &::-webkit-scrollbar {
                display: none;
            }

            &.mask {
                -webkit-mask-image: linear-gradient(0, rgba(244, 242, 237, 0) 0%, #f4f2ed 50%);
            }

            p {
                margin-bottom: 27px;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }

        &-list {
            height: 100%;

            &-inner {
                height: 100%;
            }
        }

        &-item {
            height: 100%;
            text-align: right;

            img {
                height: 100%;
                object-fit: cover;
            }
        }
    }

    @media (max-width: 1199px) {
        .data {
            &-row {
                column-gap: 50px;
            }

            &-col {
                left: 0;
            }

            &-text {
                max-height: 59vw;
            }
        }
    }

    @media (max-width: 767px) {
        margin-top: 52px;
        margin-bottom: 110px;

        .data {
            &-container {
                max-width: 500px;
            }

            &-row {
                flex-wrap: wrap;
                row-gap: 59px;
            }

            &-col {
                width: 100%;
            }

            &-text {
                max-height: unset;
                text-align: center;
                height: auto;
                padding-right: 0;
                margin-right: 0;
                max-height: 938px;
            }

            &-img {
                max-width: 321px;
                margin: 0 auto;
                text-align: center;
            }
        }
    }

    @media (max-width: 575px) {
        .data {
            &-text {
                max-width: 281px;
                margin: 0 auto;
            }
        }
    }
}