.wcl-404 {
    padding-top: 100px;
    padding-bottom: 115px;
    text-align: center;
    border-bottom: 1px solid $c-black;

    .data {
        &-subhead {
            font-family: $f-lekton;
            font-size: 13px;
            letter-spacing: 2px;
            text-transform: uppercase;
            margin-bottom: 60px;
        }

        &-title {
            font-family: $f-nineties;
            font-size: 60px;
            margin-bottom: 50px;
            font-weight: 400;
        }

        &-link {
            text-transform: uppercase;
            letter-spacing: 2px;

            a {
                font-size: 12px;
            }
        }
    }

    @media (max-width: 767px) {
        padding-top: 100px;
        padding-bottom: 100px;
    }
}