.wcl-acf-block-1 {
    margin-top: 340px;
    margin-bottom: 316px;

    .data {
        &-text-1 {
            font-size: 24px;
            line-height: 32px;
            /* 133.333% */
            margin-bottom: 33px;
        }

        &-list {
            display: flex;
            margin: 0 -16px;
            margin-bottom: 63px;
        }

        &-item {
            padding: 0 16px;
            width: 33.33%;

            &-text {
                font-family: $f-playfair;
                font-size: 48px;
                font-weight: 600;
                //line-height: 60px;
                line-height: 125%;
                letter-spacing: -0.96px;
            }
        }

        &-text-2 {
            font-size: 24px;
            font-weight: 700;
            line-height: 32px;
            /* 133.333% */
        }
    }

    @media (max-width: 840px) {
        .data {
            &-list {
                flex-wrap: wrap;
                row-gap: 16px;
            }

            &-item {
                width: 50%;

                &-text {
                    font-size: 30px;
                }
            }
        }
    }

    @media (max-width: 575px) {
        margin-top: 262px;
        margin-bottom: 60px;

        .data {
            &-text-1 {
                font-size: 16px;
                line-height: 24px;
                /* 150% */
            }

            &-list {
                margin-bottom: 47px;
            }

            &-item {
                width: 100%;

                &-text {
                    font-family: $f-br-nebula;
                    font-weight: 600;
                    line-height: 38px;
                    max-width: 343px;
                    letter-spacing: 0;
                    /* 126.667% */
                }
            }

            &-text-2 {
                font-size: 16px;
                font-weight: 700;
                line-height: 24px;
                /* 150% */
            }
        }
    }

    @media (prefers-color-scheme: dark) {
        color: #F4F4F4;
    }
}