.wcl-page {
    min-height: 150px;

    &.mod-start {
        margin-top: 17px;
        margin-bottom: 100px;
    }

    .wcl-sidebar {
        margin-top: 7px;

        .data {
            &-cats {
                a {
                    padding: 7.3px 0;
                }
            }
        }
    }

    &.mod-default {
        margin-top: 17px;
        margin-bottom: 100px;

        .cmp5-col:first-child {
            margin-right: 35px;
        }

        .page-content {
            font-size: 16px;
            line-height: 170%;
            /* 27.2px */

            .mod-margin-clear {
                margin-bottom: 0;
            }

            .mod-heading-1 {
                margin-top: 25px;

                @media (min-width: 991px) {
                    font-size: 14px;
                }
            }

            .mod-heading-2 {
                margin-top: 25px;

                @media (min-width: 991px) {
                    font-size: 16px;
                }
            }

            h1 {
                font-size: 36px;
            }

            h2 {
                font-size: 18px;
            }

            h3,
            h4,
            h5,
            h6 {
                font-size: 18px;
            }

            p {
                margin-bottom: 20px;

                &:last-child {
                    margin-bottom: 0;
                }
            }

            a {
                color: #1060C1;
                text-decoration: underline;
                @include link_hover;
            }

            .wp-block-image {
                margin-top: 30px;
                margin-bottom: 30px;
            }

            strong,
            b {
                font-weight: 500;
            }
        }

        @media (max-width: 991px) {
            margin-bottom: 72px;

            .page-content {
                font-size: 14px;

                h1 {
                    font-size: 30px;
                }

                h2,
                h3,
                h4,
                h5,
                h6 {
                    font-size: 16px;
                    margin-bottom: 15px;
                }

                .mod-heading-1,
                .mod-heading-2 {
                    margin-top: 20px;
                }
            }

            .cmp5-col {
                &:first-child {
                    display: none;
                }
            }
        }

        @media (max-width: 600px) {
            margin-top: 14px;
            margin-bottom: 75px;

            .page-content .wp-block-image {
                margin-top: 21px;
                margin-bottom: 30px;
            }

            .page {
                &-content {
                    font-size: 13px;

                    .mod-heading-1,
                    .mod-heading-2 {
                        margin-top: 11px;
                    }

                    h1 {
                        font-size: 24px;
                    }

                    h2,
                    h3,
                    h4,
                    h5,
                    h6 {
                        font-size: 14px;
                        margin-bottom: 11px;
                    }

                    p {
                        margin-bottom: 10px;
                    }

                    a {
                        word-break: break-all;
                    }
                }
            }
        }
    }
}


.single {
    .wcl-page {
        margin-bottom: 94px;
    }

    @media (max-width: 991px) {
        .wcl-page {
            margin-top: 18px;
            margin-bottom: 78px;

            .woocommerce-breadcrumb {
                margin-bottom: 17px;
            }
        }
    }

    @media (max-width: 575px) {

        .wcl-page .woocommerce-breadcrumb {
            margin-bottom: 11px;
        }

        .wcl-page {
            margin-top: 14px;
        }
    }
}



.wcl-page.mod-sidebar {
    .data {
        &-title {
            @media (min-width: 991px) {
                margin-bottom: 35px;
            }
        }
    }
}




.page-template-style-one-page {
    .wcl-page {
        margin-top: 17px;
        margin-bottom: 0;

        >.data-container {
            >.data-title {
                margin-bottom: 30px;
            }
        }
    }

    .woocommerce-breadcrumb {
        margin-bottom: 15px;
    }

    @media (max-width: 1199px) {
        [class^="wcl-acf-block-"] {
            .wcl-container {
                padding: 0;
            }
        }
    }

    @media (max-width: 600px) {
        .wcl-page {

            >.data-container>.data-title {
                margin-bottom: 25px;
            }
        }
    }
}


.blog {
    .wcl-page {
        @media (max-width: 991px) {
            margin-bottom: 80px;
        }
    }
}

.home {
    .wcl-page .wcl-sidebar {
        margin-top: 0;
    }
}