.wcl-lost-password {
    margin-top: 60px;
    margin-bottom: 110px;
    //background: linear-gradient(90deg, #F4F9FC 0%, #F2F9FF 100%);

    .data {
        &-container {
            max-width: 1210px;
        }

        &-title {
            color: #1D2E3B;
            text-align: center;
            font-size: 40px;
            font-weight: 900;
            line-height: normal;
            letter-spacing: -0.8px;
            margin-bottom: 14px;
        }

        &-subtitle {
            color: #1D2E3B;
            font-family: Caveat;
            font-size: 26px;
            font-weight: 700;
            line-height: normal;
            text-align: center;

            max-width: 610px;
            margin: 0 auto;
        }

        &-info {
            margin-top: 35px;
            padding: 40px 40px 40px;
            border-radius: 5px;
            background: #fff;
            max-width: 666px;
            margin: 0 auto;

            &-text {
                margin-top: 15px;
                font-size: 14px;
                font-weight: 500;
                line-height: 19.6px;
                color: #60606b;
            }

            a {
                color: #1cbcff;
                text-decoration: none;
            }
        }

        &-note-2 {
            margin-top: 35px;
            padding: 40px 40px 40px;
            border-radius: 5px;
            background: #fff;
            max-width: 666px;
            margin: 0 auto;

            &-elem-1 {
                background-color: #f4f9fc;
                //   background-color: transparent;
                padding: 15px 15px 15px;
                border-top: 3px solid #000;
                position: relative;
                margin-bottom: 15px;

                column-gap: 40px;
                max-width: 700px;
                margin: 0 auto;

                font-size: 14px;
                font-weight: 600;
                line-height: 160%;

                &.mod-success {
                    border-color: #8fae1b;

                    &::after {
                        background-color: #8fae1b;
                    }
                }

                &.mod-error {
                    border-color: #b81c23;

                    &::after {
                        background-color: #b81c23;
                    }
                }

                &::after {
                    content: '';
                    position: absolute;
                    right: 15px;
                    top: 50%;
                    height: 12px;
                    width: 12px;
                    border-radius: 12px;
                    transform: translate(0, -50%);
                    background-color: #000;
                }
            }

            &-text {
                margin-top: 15px;
                font-size: 14px;
                font-weight: 500;
                line-height: 19.6px;
                color: #60606b;

                a {
                    color: #1cbcff;
                    text-decoration: none;
                }
            }
        }


        &-note-02 {

            background-color: #f4f9fc;
            //   background-color: transparent;
            padding: 15px 15px 15px;
            border-top: 3px solid #000;
            position: relative;
            margin-bottom: 15px;

            column-gap: 40px;
            max-width: 700px;
            margin: 0 auto;

            font-size: 14px;
            font-weight: 600;
            line-height: 160%;

            &::after {
                content: '';
                position: absolute;
                right: 15px;
                top: 50%;
                height: 12px;
                width: 12px;
                border-radius: 12px;
                transform: translate(0, -50%);
                background-color: #000;
            }

            &.mod-success {
                border-color: #8fae1b;

                &::after {
                    background-color: #8fae1b;
                }
            }

            &.mod-error {
                border-color: #b81c23;

                &::after {
                    background-color: #b81c23;
                }
            }
        }

        &-note {
            margin: 12px 5px 0px;
            color: #1D2E3B;
            text-align: center;
            font-size: 13px;

            p {
                &.success {
                    color: #00ce00;
                }

                &.error {
                    color: #F84147;
                }
            }
        }

    }
}