// Defaults
@import 'functions';
@import 'mixings';




/* 
* 2. Variables
*/

$white: #fff;
$black: #000;

$btn-color: $white;
$btn-background: $black;

$animation-speed: 0.3s;




/* 
* 1. Fonts
*/

$f-sora: "Sora", sans-serif;
