// .woocommerce-account.logged-in {}

// 1. Main
// 2. Orders 

// 1. Main / Navigation
.woocommerce-account.logged-in {

    .wcl-page {
        margin-bottom: 100px;
        min-height: 630px;

        .page-title {
            span {
                &:nth-child(2) {
                    text-transform: capitalize;
                }
            }
        }
    }

    .woocommerce::after,
    .woocommerce::before {
        display: none;
    }

    .woocommerce-info {
        display: flex;

        .data-btn {
            margin-left: auto;
        }
    }

    .woocommerce {
        display: flex;

        a {
            @include link_hover;
        }
    }

    // Navigation
    .woocommerce-MyAccount-navigation {
        flex-shrink: 0;
        width: 250px;
        margin-right: 35px;
    }

    .woocommerce-MyAccount-content {
        width: calc(100% - (250px + 20px));
    }

    .woocommerce-MyAccount-content {
        border-radius: 5px;
        background: #FFF;
        padding: 29px 30px;
    }

    .woocommerce-MyAccount-navigation {
        ul {
            border-radius: 5px;
            background: #FFF;
            padding: 28px 30px;
            margin-bottom: 0;
        }

        li {
            font-size: 16px;
            line-height: normal;
            padding-bottom: 28px;
            margin-bottom: 29px;
            border-bottom: 1px solid #F6F6F6;
            list-style: none;

            &.is-active {
                a {
                    color: #1060C1;
                    font-weight: 500;
                }

                img {
                    filter: brightness(0) saturate(100%) invert(22%) sepia(64%) saturate(6117%) hue-rotate(205deg) brightness(89%) contrast(87%);
                }
            }

            &:last-child {
                padding-bottom: 0;
                margin-bottom: 0;
                border-bottom: none;
            }

            a {
                color: #272323;
                text-decoration: none;

                &:hover{
                    opacity: 1;
                        color: #1060C1;
    
                    img {
                        filter: brightness(0) saturate(100%) invert(22%) sepia(64%) saturate(6117%) hue-rotate(205deg) brightness(89%) contrast(87%);
                    }
                }
            }

            .data-img {
                display: inline-block;
                width: 20px;
                text-align: center;
                margin-right: 10px;
                img{
                }
            }
        }
    }

    @media (max-width: 991px) {
        .wcl-page {
            margin-bottom: 80px;
            min-height: 535px;

            .page-title {
                margin-bottom: 33px;
            }
        }

        .woocommerce-breadcrumb {
            margin-bottom: 13px;
        }

        .woocommerce {
            flex-wrap: wrap;
            row-gap: 30px;
        }

        .cmp-title.mod-small {
            font-size: 32px;
        }

        .woocommerce-MyAccount-navigation {
            width: 100%;
            margin-right: 0;

            ul {
                display: flex;
                justify-content: space-between;
                padding: 23px 46px 23px 41px;
                column-gap: 20px;
            }

            li {
                padding-bottom: 0;
                margin-bottom: 0;
                border: none;

                .data-img {
                    margin-right: 10px;
                }
            }
        }

        .woocommerce-MyAccount-content {
            width: 100%;
        }
    }

    @media (max-width: 700px) {
        .woocommerce-MyAccount-navigation {
            ul {
                padding: 0;
                background-color: transparent;
                display: flex;
                column-gap: 10px;
            }

            li {
                font-size: 14px;
                width: 33.33%;
                text-align: center;

                a {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    row-gap: 15px;
                    height: 100%;

                    padding: 23px 7px;
                    border-radius: 3px;
                    background: #FFF;
                }

                .data-img {
                    width: auto;
                    margin-right: 0;
                }

                img {
                    height: 23px;
                }
            }
        }
    }

    @media (max-width: 575px) {
        .woocommerce {
            row-gap: 25px;
        }

        .cmp-title.mod-small {
            font-size: 21px;
        }

        .woocommerce-MyAccount-navigation {

            li {
                line-height: 140%;

                a {
                    padding: 23px 7px 13px;
                }

                span {
                    &:nth-child(2) {
                        display: inline-flex;
                        align-items: center;
                        min-height: 40px;
                    }
                }
            }
        }
    }


    @media (max-width: 430px) {
        .woocommerce-MyAccount-navigation {
            li {}
        }
    }
}

// 2. Orders / woocommerce-orders
.woocommerce-account.woocommerce-orders {
    .woocommerce-MyAccount-content {
        padding: 0;
        background-color: transparent;
    }

    // Orders-table

    .woocommerce-orders-table {
        width: 100%;
        border-collapse: separate;
        border-spacing: 0 20px;
        margin-top: -23px;

        color: #1B1B1B;
        font-size: 14px;
        line-height: normal;

        .data-time {
            margin-top: 10px;
        }

        th,
        td {
            padding: 5px;
            border: none;
            // width: 20%;

            &:first-child {
                padding-left: 30px;
                max-width: 112px;

                @media (min-width: 1000px) {
                    min-width: 120px;
                }
            }

            &:nth-child(2) {
                max-width: 112px;
            }

            &:nth-child(3) {
                max-width: 112px;
            }

            &:nth-child(4) {
                width: 22%;
                max-width: 199px;

                @media (min-width: 1000px) {
                    padding-left: 26px;
                }
            }

            &:nth-child(5) {
                @media (min-width: 1000px) {
                    padding-right: 25px;
                }
            }
        }

        th {
            color: #868C9A;
            padding: 0 10px;
            text-align: left;
        }

        td {
            background-color: #fff;
            padding: 27px 10px 30px;
            overflow: hidden;
            //border-radius: 5px;

            &:first-child {
                border-radius: 5px 0 0 5px;
            }

            &:last-child {
                border-radius: 0 5px 5px 0;
            }
        }

        .woocommerce-orders-table__cell-order-number {
            a {
                color: #1060C1;
                font-size: 14px;
                font-weight: 500;
                line-height: normal;
                text-decoration: none;
            }
        }
    }

    .woocommerce {
        .data-orders {
            display: none;
        }

        // data-b1
        .data-b1 {
            border-radius: 5px;
            background: #FFF;
            text-align: center;
            padding: 37px 40px 40px;

            &-title {
                color: #000;
                font-size: 18px;
                font-weight: 500;
                line-height: normal;
                margin-bottom: 13px;
            }

            &-subtitle {
                color: #868C9A;
                font-size: 16px;
                line-height: normal;
            }

            &-link {
                margin-top: 35px;

                a {
                    padding: 10px 25px;
                    margin-right: -9px;
                }
            }
        }
    }

    @media (max-width: 1400px) {
        .woocommerce-orders-table {

            th,
            td {
                &:nth-child(4) {
                    width: auto;
                    max-width: 199px;
                }
            }
        }
    }

    @media (max-width: 991px) {
        .woocommerce-orders-table {
            margin-bottom: -20px;

            th,
            td {
                &:first-child {
                    padding-left: 25px;
                    max-width: 106px;
                }
            }

            td {
                padding: 22px 10px;
            }
        }

        .woocommerce .data-b1 {
            padding: 30px 40px 30px;

            &-title {
                font-size: 16px;
            }

            &-subtitle {
                font-size: 14px;
            }

            &-link {
                margin-top: 27px;

                a {
                    font-size: 14px;
                    padding: 10px 22px;
                    margin-right: -3px;
                    min-height: 48px;
                }
            }
        }
    }

    @media (max-width: 575px) {

        .woocommerce-orders-table {
            margin-top: 50px;
            display: none;
        }

        .woocommerce {
            .data-orders {
                display: block;
            }

            .data-item {
                color: #1B1B1B;
                font-size: 14px;
                border-radius: 3px;
                background: #FFF;
                margin-bottom: 20px;
                padding: 22px 25px 25px;

                &:last-child {
                    margin-bottom: 0;
                }

                &-number {
                    font-size: 14px;
                    font-weight: 500;
                    line-height: normal;
                    margin-bottom: 7px;

                    a {
                        text-decoration: none;
                    }
                }

                &-b1 {
                    display: flex;
                    column-gap: 25px;
                    justify-content: space-between;
                    flex-wrap: wrap;
                    row-gap: 15px;
                    margin-bottom: 17px;
                    padding-bottom: 23px;
                    border-bottom: 1px solid #F6F6F6;

                    &-e1 {
                        display: flex;
                        column-gap: 13px;
                    }
                }

                &-info {
                    margin-bottom: 25px;
                    padding-bottom: 23px;
                    border-bottom: 1px solid #F6F6F6;
                }

                &-image {
                    margin-bottom: 23px;
                    display: flex;
                    flex-wrap: wrap;
                    column-gap: 10px;
                    row-gap: 10px;
                    //min-height: 65px;

                    img {
                        width: 65px;
                    }
                }

                &-b2 {
                    &:first-child {
                        margin-bottom: 11px;
                    }

                    &-label {
                        color: #868C9A;
                        line-height: 160%;
                        /* 22.4px */
                        margin-bottom: 3px;
                    }
                }

                &-link {
                    a {
                        width: 100%;
                    }
                }
            }

            .data-b1 {
                padding: 53px 10px 55px;

                &-title {
                    font-size: 15px;
                    margin-bottom: 10px;
                }

                &-subtitle {
                    font-size: 13px;
                }

                &-link {
                    margin-top: 44px;

                    a {
                        min-height: 54px;
                        padding: 10px 25px;
                        margin-right: -9px;
                    }
                }
            }
        }
    }

    @media (max-width: 350px) {
        .woocommerce-MyAccount-navigation li span:nth-child(2) {
            font-size: 3.8vw;
            line-height: 1.4;
        }
    }
}




// edit-account
.woocommerce-account.woocommerce-edit-account {
    .woocommerce-MyAccount-content {
        padding: 37px 40px 40px;

        @media (max-width: 991px) {
            padding: 21px 25px 30px;
        }

        @media (max-width: 575px) {
            padding: 21px 25px 23px;
        }
    }

}

.woocommerce-account.is-wishlist {
    .woocommerce-MyAccount-content {
        background: transparent;
        padding: 0;
    }

    .woocommerce-MyAccount-navigation {
        margin-right: 20px;
    }
}


// woocommerce-view-order 

.woocommerce-account.woocommerce-view-order {
    .woocommerce {
        h2 {
            font-size: 21px;
            font-weight: 400;
        }

        .woocommerce-column--1 {
            margin-bottom: 30px;

            &:last-child {
                margin-bottom: 0;
            }
        }


        .woocommerce-customer-details{
            margin-bottom: 0;
        }

        // .woocommerce-column {
        //     margin-bottom: 30px;

        //     &:last-child {
        //         margin-bottom: 0;
        //     }
        // }

        table.shop_table {
            font-weight: 400;
            font-size: 14px;
            text-align: left;
            width: 100%;
            border: none;

            thead {
                th {
                    color: #272323;
                    font-weight: 500;
                }
            }

            th {
                color: #868c9a;
                font-size: 14px;
                font-weight: 400;
                line-height: 160%;
            }

            tfoot {
                tr {
                    &:last-child {

                        th,
                        td {
                            font-weight: 500;
                            padding-bottom: 0;
                        }

                    }
                }
            }

            th,
            td {
                padding: 0;
                padding-bottom: 15px;
                border: none;
            }

            th {
                padding-right: 17px;
                color: #656C7D;
            }

            td {
                &:first-child {
                    padding-right: 17px;
                }
            }

            td {
                font-weight: 500;
            }
        }

        address {
            font-size: 14px;
            font-weight: 400;
            line-height: 170%;
            /* 23.8px */
            padding: 0;
            border: none;
        }
    }
}