.wcl-cmp-desc {
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 325;
    line-height: 35px;
    /* 250% */
    letter-spacing: 0.98px;
    text-transform: uppercase;
}