//...


.wcl-link {
    height: 65px;
    border-radius: 50px;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 600;
    font-size: 20px;
    border: 1px solid $c-white;
    width: 100%;
    max-width: 273px;
    padding: 10px 37px;
    column-gap: 10px;

    &.mod-b {
        color: $c-black-b;
        background: $c-green;
        border-color: $c-green;
    }

    img {
        transition: all 0.25s ease;
        width: 25px;
        height: 16px;
    }

    &:hover {
        img {
            transform: translateX(10px);
        }
    }
}


/* 
* 1. Buttons
*/
.wcl-button-wrapper {

    .wcl-button {
        display: inline-block;
        cursor: pointer;
        outline: 0;
        -webkit-transition: all .25s ease-in-out;
        -o-transition: all .25s ease-in-out;
        transition: all .25s ease-in-out;
    }

}





/* 
* 2. Form Elements
*/
.wcl-form-wrapper {

    input {}

    textarea {}

}